body{
   margin: 0;
   font-family: cursive;
}
.page-wrapper {
   max-width: 1024px;
   background-color: rgb(192, 247, 228);
   margin: auto;
   padding: 15px 15px 15px 15px;
}

header {
   height: 30px;
   width: 100%;
   background-color: rgb(176, 200, 245);
   position: absolute;
   left: 0px;
   right: 0px;  
}

.banner{
   height: 400px;
   background-image: url('../Images photo/Italy pic.jpg');
   background-size: cover;
   background-position: center;
   padding: 50px 15px 15px 50px;
}
 
h1{
   color: rgb(4, 80, 54);
   text-align: center;
   padding-top: 0;
   font-size: 50px;
}

h2{
   color: rgb(243, 160, 195);
   text-align: center;
   padding-top: 0;
   font-size: 45;
}

h3{
   color: blueviolet;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section.about-me{
   margin-top: 30px;
   margin-bottom: 30px;
}

.about-me p {
   font-size: 18px;
   line-height: 25px;
   text-align: justify;
}

h4{
   width: 150px; border: 5px; border-radius: 10px;
   line-height: 15px;
   color: rgb(12, 15, 26);
   text-align: center;
   font-size: 45;
}

section.my-portfolio div{
   background-color: aliceblue;
   justify-content: center;
}

.d-none{
   display: none;
}

.d-inline{
   display: inline; 
   background-color: aquamarine;
}

.d-flex{
   display: flex;
   
}

.d-inline.d2{
   width: 300px;
   display: inline-block; 
   background-color: bisque;
}

section .d-inline{
   color: cornsilk;
}

section>.d-inline{
   color: blueviolet;
}

section>div>.d-inline{
   color: blue;
}

.with-direction{
   flex-direction: row;
   flex-wrap: nowrap;
}

.with-direction>div{
   height: 40px;
   text-align: center;
}

.d12{
   order: 5;
   flex-grow: 1;
}

.d13{
   order: 1;
   flex-grow: 1;
}

.d14{
   order: 2;
   flex-grow: 2;
}

.d15{
   order: 4;
   flex-grow: 1;
}

.d16{
   order: 3;
   flex-grow: 3;
}

section.my-portfolio div.d-flex{
   flex-wrap: wrap;
   
}
.d-flex>.d-inline {
   display: inline;
   width: 180px; height: 400px;
   color: rgb(31, 29, 29);
   background-color: rgb(71, 133, 133);
   padding: 15px;
   margin: 15px;
   box-shadow: 5px 5px rgb(66, 2, 2);
   border-radius: 2px;
}

section.my-portfolio .d-flex h4{
   min-height: 30px;
}

section.my-portfolio .d-flex p{
   font-size: 14px;
}

.basic-grid>div, .advance-grid {
   border: 1px solid rgb(54, 219, 248);
   text-align: center;
   line-height: 5px;
   background-color: rgb(53, 148, 236);
   padding: 20px 0;
   box-shadow: 5px -5px rgb(14, 250, 250);
}

.item1 { grid-area: box1; }
.item2 { grid-area: box2; }
.item3 { grid-area: box3; }
.item4 { grid-area: box4; }
.item5 { grid-area: box5; }
.item6 { grid-area: box6; }
.item7 { grid-area: box7; }
.item8 { grid-area: box8; }
.item9 { grid-area: box9; }
.item10 { grid-area: box10; }
.item11 { grid-area: box11; }
.item12 { grid-area: box12; }

.basic-grid {
   display: grid;
   grid-template-areas: 
   'box1 box2 box3 box3'
   'box1 box4 box5 box6'
   'box10 box7 box8 box8'
   'box10 box9 box11 box12';  
   gap: 10px;
   background-color: rgb(43, 226, 150);
   padding: 10px;
   box-shadow: -5px;
}

.advance-grid>div {
   border: 1px solid rgb(54, 219, 248);
   text-align: center;
   line-height: 5px;
   padding: 20px 0;
   box-shadow: 5px -5px rgb(14, 250, 250);
}

.items1 { grid-area: box1; }
.items2 { grid-area: box2; }
.items3 { grid-area: box3; }
.items4 { grid-area: box4; }
.items5 { grid-area: box5; background-color: chocolate;}
.items6 { grid-area: box6; }
.items7 { grid-area: box7; }
.items8 { grid-area: box8; background-color: brown; }
.items9 { grid-area: box9; background-color: coral;}
.items10 { grid-area: box10; }
.items11 { grid-area: box11; }
.items12 { grid-area: box12; }
.items13 { grid-area: box13; }
.items14 { grid-area: box14; }
.items15 { grid-area: box15; }
.items16 { grid-area: box16; }
.items17 { grid-area: box17; }
.items18 { grid-area: box18; }
.items19 { grid-area: box19; }

.advance-grid {
   display: grid;
   grid-template-areas: 
   'box1 box2 box3 box4 box5 box5'
   'box6 box8 box8 box9 box9 box7'
   'box10 box8 box8 box9 box9 box11'
   'box12 box8 box8 box9 box9 box13'
   'box14 box15 box16 box17 box18 box19';  
   gap: 10px;
   padding: 10px;
   box-shadow: -5px;
}

