body{
   margin: 0;
   font-family: cursive;
}
.page-wrapper {
   max-width: 1024px;
   background-color: rgb(192, 247, 228);
   margin: auto;
   padding: 15px 15px 15px 15px;
}

header {
   height: 30px;
   width: 100%;
   background-color: rgb(176, 200, 245);
   position: absolute;
   left: 0px;
   right: 0px;  
}

.banner{
   height: 400px;
   background-image: url('../Images photo/Italy pic.jpg');
   background-size: cover;
   background-position: center;
   padding: 50px 15px 15px 50px;
}
 
h1{
   color: rgb(241, 250, 247);
   text-align: center;
   padding-top: 0;
   font-size: 50px;
}

h2{
   color: rgb(243, 160, 195);
   text-align: center;
   padding-top: 0;
   font-size: 45;
}

section.about-me{
   margin-top: 30px;
   margin-bottom: 30px;
}

.about-me p {
   font-size: 18px;
   line-height: 25px;
   text-align: justify;
}

h4{
   width: 150px; border: 5px; border-radius: 10px;
   line-height: 15px;
   color: rgb(12, 15, 26);
   text-align: center;
   font-size: 45;
}

section.my-portfolio div{
   background-color: aliceblue;
   justify-content: center;
}

.d-none{
   display: none;
}

.d-inline{
   display: inline; 
   background-color: aquamarine;
}

.d-flex{
   display: flex;
   
}

.d-inline.d2{
   width: 300px;
   display: inline-block; 
   background-color: bisque;
}

section .d-inline{
   color: cornsilk;
}

section>.d-inline{
   color: blueviolet;
}

section>div>.d-inline{
   color: blue;
}

.with-direction{
   flex-direction: row;
   flex-wrap: nowrap;
}

.with-direction>div{
   height: 40px;
   text-align: center;
}

.d12{
   order: 5;
   flex-grow: 1;
}

.d13{
   order: 1;
   flex-grow: 1;
}

.d14{
   order: 2;
   flex-grow: 2;
}

.d15{
   order: 4;
   flex-grow: 1;
}

.d16{
   order: 3;
   flex-grow: 3;
}

section.my-portfolio div.d-flex{
   flex-wrap: wrap;
   
}
.d-flex>.d-inline {
   display: inline;
   width: 180px; height: 400px;
   color: rgb(19, 15, 15);
   background-color: rgb(71, 133, 133);
   padding: 15px;
   margin: 15px;
   box-shadow: 5px 5px rgb(66, 2, 2);
   border-radius: 2px;
}

section.my-portfolio .d-flex h4{
   min-height: 30px;
}

section.my-portfolio .d-flex p{
   font-size: 14px;
}

.basic-grid,
.advance-grid {
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: beige;
   gap: 20px;
   padding: 10px;
}

.advance-grid {
   grid-template-columns: auto auto auto auto auto;
}

.basic-grid>div,
.advance-grid {
   border: 1px solid rgb(54, 219, 248);
   text-align: center;
   line-height: 5px;
   background-color: rgb(248, 126, 126);
   padding: 15px;
   box-shadow: 5px -5px rgb(250, 14, 14);
}

.basic-grid .item1{
   grid-column-start: 1;
   grid-column-end: 3;
}

.basic-grid .item6{
   grid-column: 2 / 4;
}

.basic-grid .item5{
   grid-row: 2 / 4;
}