body{
   margin: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.page-wrapper {
   background-color: rgb(192, 247, 228);
   margin: auto;
   padding: 15px 15px 15px 15px;
}

header {
   height: 30px;
   width: 100%;
   background-color: rgb(58, 11, 11);
   position: fixed;
   border-top: 50px;
   left: 0px;
   right: 0px; 
   top: 0px;
   z-index: 99999;
}

.banner{
   height: 300px;
   background-image: url('../Images photo/Italy pic.jpg');
   top: 15px;
   background-size: cover;
   background-position: center;
   padding: 1px 1px 50px 1px;
}
 
h1{
   color: rgb(211, 241, 231);
   text-align: center;
   padding-top: 90px;
   font-size: 35px; font-weight: 300;
}

h2{
   color: rgb(189, 197, 243);
   text-align: center;
   padding-top: 0px;
   font-size: 25px; background-color: black; 
}

h3{
   color: rgb(15, 14, 15);
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section.about-me{
   margin-top: 20px;
   margin-bottom: 20px;
}

.about-me p {
   font-size: 18px;
   font-weight: 100;
   color: rgb(243, 237, 238);
   line-height: 25px;
   text-align:justify; margin-left: 30px;
}

h4{
   line-height: 20px;
   color: rgb(51, 61, 94);
   text-align: center; 
   font-size: 20px; font-weight: 100;
}

section.my-portfolio div{
   background-color: rgb(233, 211, 227);
   padding-top: 2px;
   justify-content: center;
}

.d-none{
   display: none;
}

.d-inline{
   display: inline;
   background-color: aquamarine;
   
}

.d-flex{
   display: flex;
   
}

.d-inline.d2{
   width: 300px;
   display: inline-block; 
   background-color: bisque;
}

section .d-inline{
   color: cornsilk;
}

section>div>.d-inline{
   color: blue;
}

section>.d-inline{
   color: blueviolet;
}

.with-direction {
   flex-direction: row;
   flex-wrap: wrap;
   display: flex;
}

.with-direction>div{
   height: 40px;
   flex-direction: row;
   flex-wrap: wrap;
   display: flex;
}

.d12{
   order: 5;
   flex-grow: 1;
}

.d13{
   order: 1;
   flex-grow: 1;
}

.d14{
   order: 2;
   flex-grow: 2;
}

.d15{
   order: 4;
   flex-grow: 1;
}

.d16{
   order: 3;
   flex-grow: 3;
}

section.my-portfolio div.d-flex{
   background-color: bisque;
   line-height: 25px;
   height: 100%;
   justify-content: center;
   padding: 1px;
   flex-wrap: wrap;
   border-radius: 20px;
   box-shadow: 4px 4px #33333ccc, 8px 8px #ccc;
}
.d-flex>.d-inline {
   display: inline;
   width: 200px; height: 500px;
   color: rgb(31, 29, 29);
   background-color: rgb(71, 133, 133);
   padding: 15px;
   margin: 15px;
   box-shadow: 5px 5px rgb(66, 2, 2);
   border-radius: 2px;
}

section.my-portfolio .d-flex h4{
   min-height: 30px;
}

section.my-portfolio .d-flex p{
   font-size: 15px;
}

.basic-grid>div, .advance-grid {
   border: 1px solid rgb(54, 219, 248);
   text-align: center;
   line-height: 5px;
   background-color: rgb(53, 148, 236);
   padding: 20px 0;
   box-shadow: 5px -5px rgb(14, 250, 250);
}

.item1 { grid-area: box1; }
.item2 { grid-area: box2; }
.item3 { grid-area: box3; }
.item4 { grid-area: box4; }
.item5 { grid-area: box5; }
.item6 { grid-area: box6; }
.item7 { grid-area: box7; }
.item8 { grid-area: box8; }
.item9 { grid-area: box9; }
.item10 { grid-area: box10; }
.item11 { grid-area: box11; }
.item12 { grid-area: box12; }

.basic-grid {
   display: grid;
   grid-template-areas: 
   'box1 box2 box3 box3'
   'box1 box4 box5 box6'
   'box10 box7 box8 box8'
   'box10 box9 box11 box12';  
   gap: 10px;
   background-color: rgb(43, 226, 150);
   padding: 10px;
   box-shadow: -5px;
}

.advance-grid>div {
   border: 1px solid rgb(54, 219, 248);
   text-align: center;
   line-height: 5px;
   padding: 20px 0;
   box-shadow: 5px -5px rgb(14, 250, 250);
}

.items1 { grid-area: box1; }
.items2 { grid-area: box2; }
.items3 { grid-area: box3; }
.items4 { grid-area: box4; }
.items5 { grid-area: box5; background-color: chocolate;}
.items6 { grid-area: box6; }
.items7 { grid-area: box7; }
.items8 { grid-area: box8; background-color: brown; }
.items9 { grid-area: box9; background-color: coral;}
.items10 { grid-area: box10; }
.items11 { grid-area: box11; }
.items12 { grid-area: box12; }
.items13 { grid-area: box13; }
.items14 { grid-area: box14; }
.items15 { grid-area: box15; }
.items16 { grid-area: box16; }
.items17 { grid-area: box17; }
.items18 { grid-area: box18; }
.items19 { grid-area: box19; }

.advance-grid {
   display: grid;
   grid-template-areas: 
   'box1 box2 box3 box4 box5 box5'
   'box6 box8 box8 box9 box9 box7'
   'box10 box8 box8 box9 box9 box11'
   'box12 box8 box8 box9 box9 box13'
   'box14 box15 box16 box17 box18 box19';  
   gap: 10px;
   padding: 10px;
   box-shadow: -5px;
}

nav ul {
   list-style: none;
   margin: 0;  
}

nav ul li{
   display: inline-block; 
   padding: 0px 5px;
}

nav ul li a {
   text-decoration: none;
   color: antiquewhite;
   position: relative; bottom: 5px;
   line-height: 10px;
   font-weight: 600;
}

nav ul li:hover a{
   color: crimson;
}

nav ul li:hover{
   background-color: aqua;
}

@media screen and (max-width: 992px) {
   header { 
      height: auto;
      position: absolute; 
      background-color: #33333ccc;}
   
   nav ul li{
         display: block;
   }
}

@media screen and (max-width: 600px) {
   .banner{
      background-image: none;
      display: none;}
      }
   


